<div class="container">
  <h1>Cocktails</h1>
  <div class="container">
<% @cocktails.each do |cocktail|  %>
<div class="card-product">
  <%= cl_image_tag cocktail.photo.key %>
  <div class="card-product-infos">
    <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
    <p><%= link_to "Remove", cocktail_path(cocktail), method: :delete %></p>
  </div>
</div>
<% end %>
</div>
    <%= link_to 'Back to all Cocktails', cocktails_path %>
</div>
