.banner img {
  

}

.banner{
  background-image: url(https://res.cloudinary.com/dzvurrjbc/image/upload/v1598107118/pexels-susanne-jutzeler-1233319_mwx9yb.jpg), linear-gradient(135deg, rgba(0,0,0,0.8)0%, rgba(0,0,0,0.3)50%);
  height: 100vh;
  background-size: cover;
}