.row{
  padding-top: 20px;
  color: black;
  font-weight: bold;
  max-width: 700px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.row .col-lg-4 {
  max-width: 50%;
}
.cards {
  background-color: red;
  width: 200px;
}

.card-img-top {
  width: 200px;
  height: 125px;
}

.cards h5 {
  padding: 5px 5px 0 5px;
}
.cards p {
  padding: 0 5px 5px 5px;
}