.navbar {
  display: flex;
  justify-content: space-between;
}

.btn-outline-secondary a {
  text-decoration: none;
  color: grey;
  &:hover {
  	color: white;
  }
}
.btn-outline-secondary {
  border-radius: 5px;
}
